# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
*.idea/

# Environment files
.env
*.env

# Logs
*.log
logs/

# Flask cache
instance/

# IDEs and Editors
.vscode/
*.swp
.DS_Store

# Packages and distributions
*.egg-info/
*.dist-info/
venv/
